<div class="home_container">

  <app-card
  gameCover="assets/gd-4.png"
  gameLabel="EM PROMOÇÃO"
  gameType="DISC | PS4"
  gamePrice="R$ 175,90"
  />

  <app-card
    gameCover="assets/bt-1.png"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 255,70"
  />

  <app-card
  gameCover="assets/as-3.png"
  gameLabel="EM PROMOÇÃO"
  gameType="DIGITAL | PS4"
  gamePrice="R$ 182,78"
  />

<app-card
  gameCover="assets/bt-4.png"
  gameLabel="EM PROMOÇÃO"
  gameType="DISC | PS5"
  gamePrice="289,90"
  />

  <app-card
  gameCover="assets/fa-23.png"
  gameLabel="EXCLUSIVO"
  gameType="DISC | PS4 | PS5"
  gamePrice="R$ 178,80"
  />

  <app-card
  gameCover="assets/sp-1.png"
  gameLabel="EM PROMOÇÃO"
  gameType="DISC | PS4 | PS5"
  gamePrice="R$ 182,78"
  />

  <app-card
  gameCover="assets/bt-5.png"
  gameLabel="EXCLUSIVO"
  gameType="DIGITAL | PS4"
  gamePrice="R$ 302,75"
  />

  <app-card
  gameCover="assets/bt-2.png"
  gameLabel="DIGITAL"
  gameType="DIGITAL | PS3"
  gamePrice="R$ 262,80"
  />
  </div>
